body, html {
  height: 100%;
}
body {
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;  
}

.svg-container {
  height: 100%;
  padding: 20px;
  min-height: 400px;
  max-height: 600px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 5px;
  box-sizing: border-box;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
