body, html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;  
}

.chart {
  height: 100%;
  margin: 0 auto;
}

line {
  stroke: #999;
}
